
container {
    color: #fff;
    padding: 2rem;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    margin: 2rem;
    border-radius: 10px;
    width: 240px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 60%;
    margin-top: -80px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
    color: #dde4f1;
}

button {
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    padding: 0.8rem 2rem;
    width: 180px;
    background: linear-gradient(to right, #dde4f1, #082b4b);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
